.page-turn-enter, .page-turn-enter-to {
  opacity: 0;
}

.page-turn-enter-active {
  animation: fade-in .5s;
  animation-delay: .5s;
}

.page-turn-leave-active {
  animation: slide-out .5s;
  animation-timing-function: ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
    opacity: .75;
  }
  50% {
    transform: translateX(-50%);
    opacity: .25
  }
  75% {
    transform: translateX(-75%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}